<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../style.css">
        <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../node_modules/bootstrap-select/dist/css/bootstrap-select.min.css">
        <script defer>require('popper.js')</script>
        <script defer>require('bootstrap')</script>
        <script defer>require('bootstrap-select')</script>
        <title>Novo zaduzenje</title>
    </head>
    <body>
        <form id="ulazZaduzenje">
            <label for="PrezimeIme">Radnik:</label>
            <select id="PrezimeIme" class="selectpicker" data-live-search="true" data-title="Izaberite radnika" required></select>
            <br>
            <label for="SifraArtikla">Sifra artikla:</label>
            <select id="SifraArtikla" class="selectpicker" data-live-search="true" data-title="Izaberite artikl" required></select>
            <br>
            <label for="Kolicina" id="labelKolicina">Kolicina:</label>
            <input type="number" step="any" id="Kolicina" required>
            <br>
            <label for="Datum">Datum:</label>
            <input type="date" id="Datum" required>
            <br>
            <input type="submit" value="Unesi">
        </form>
        <button type="button" onclick="closeWin()">Zatvori</button>

        <script>
            const { ipcRenderer, remote } = require('electron');
            const $ = require('jquery');

            ipcRenderer.send("req-Radnik");
            ipcRenderer.once("res-Radnik", (evt, rows) => {
                for (obj of rows) {
                    let [ID_Radnika, PrezimeIme] = Object.values(obj);
                    $("#PrezimeIme").append(`<option value="${ID_Radnika}">${PrezimeIme}</option>`);
                }
                $("#PrezimeIme").selectpicker('refresh');
            });

            ipcRenderer.send("req-skladiste-SifraArtikla");
            ipcRenderer.once("res-skladiste-SifraArtikla", (evt, rows) => {
                for (let obj of rows) {
                    let [ID_Artikla, SifraArtikla, Naziv] = Object.values(obj);
                    $("#SifraArtikla").append(`<option value="${ID_Artikla}">${SifraArtikla} - ${Naziv}</option>`)
                }
                $("#SifraArtikla").selectpicker('refresh');
            });

            let currentDate = new Date();
            let day = currentDate.getDate(), month = currentDate.getMonth() + 1, year = currentDate.getFullYear();
            if (day < 10) day = '0' + day;
            if (month < 10) month = '0' + month;
            $("#Datum").val(year + '-' + month + '-' + day);

            function closeWin() {
                remote.getCurrentWindow().close();
            }

            $(document).ready(function() {
                $(document).on("change", "#SifraArtikla", function() {
                    let ID_Artikla = $("#SifraArtikla").val();
                    ipcRenderer.send("req-Naziv-JedinicaMere-UkupnaKolicina", ID_Artikla);
                    ipcRenderer.once("res-Naziv-JedinicaMere-UkupnaKolicina", (evt, row) => {
                        let [Naziv, JedinicaMere, UkupnaKolicina] = Object.values(row);
                        $("#labelKolicina").html(`Kolicina (${JedinicaMere}):`);
                        $("#Kolicina").attr("max", UkupnaKolicina);
                        $("#Kolicina").attr("placeholder", `U skladistu je ${UkupnaKolicina}`);
                    });
                });

                $(document).on("submit", "#ulazZaduzenje", function() {
                    let ID_Radnika = $("#PrezimeIme").val();
                    let ID_Artikla = $("#SifraArtikla").val();
                    let Kolicina = $("#Kolicina").val();
                    let Datum = $("#Datum").val();

                    ipcRenderer.send("insert-Zaduzenje", ID_Radnika, ID_Artikla, Kolicina, Datum);
                });
            });
        </script>
    </body>
</html>