<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../style.css">
        <title>Unos radnika</title>
    </head>
    <body>
        <form id="insertRadnik">
            <label for="PrezimeIme">Prezime i ime: </label>
            <input id="PrezimeIme" type="text" required><br>

            <input type="submit" value="Unesi">
        </form> 
        <button type="button" onclick="closeWin()">Zatvori</button>
        
        <script>
            const { ipcRenderer, remote } = require('electron');
            const $ = require('jquery');

            function closeWin() {
                let win = remote.getCurrentWindow();
                win.close();
            }

            $(document).ready(function() {
                $(document).on("submit", "#insertRadnik", function(evt) {
                    let PrezimeIme = $("#PrezimeIme").val();
                    ipcRenderer.send("insert-Radnik", PrezimeIme);
                });
            });

        </script>
    </body>
</html>