<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../node_modules/bootstrap-select/dist/css/bootstrap-select.min.css">
        <!-- <script defer>require('popper.js')</script> -->
        <script defer>require('bootstrap')</script>
        <script defer>require('bootstrap-select')</script>
        <link rel="stylesheet" href="../style.css">
        <title>Unos radnika</title>
    </head>
    <body>
        <form id="insertRadnik">
            <label for="PrezimeIme">Prezime i ime: </label>
            <input id="PrezimeIme" type="text" required><br>

            <button type="submit" class="outer-button">Unesi</button>
            <button type="button" class="outer-button" onclick="closeWin()">Zatvori</button>
        </form> 
        
        <script>
            const { ipcRenderer, remote } = require('electron');
	    const { BrowserWindow } = require('@electron/remote');
            const $ = require('jquery');

            function closeWin() {
                let win = remote.getCurrentWindow();
                win.close();
            }

            $(document).ready(function() {
                $(document).on("submit", "#insertRadnik", function(evt) {
                    let PrezimeIme = $("#PrezimeIme").val();
                    ipcRenderer.send("insert-Radnik", PrezimeIme);
                });
            });

        </script>
    </body>
</html>
