<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../node_modules/bootstrap-select/dist/css/bootstrap-select.min.css">
        <!-- <script defer>require('popper.js')</script> -->
        <script defer>require('bootstrap')</script>
        <script defer>require('bootstrap-select')</script>
        <link rel="stylesheet" href="../style.css">
        <title>Unos artikla</title>
    </head>
    <body>
        <form id="insertArtikl">
            <label for="SifraArtikla">Sifra artikla:</label>
            <input type="number" name="SifraArtikla" id="SifraArtikla" required><br>

            <label for="Naziv">Naziv:</label>
            <input type="text" name="Naziv" id="Naziv" required><br>

            <label for="JedinicaMere">Jedinica mere:</label>
            <input type="text" name="JedinicaMere" id="JedinicaMere" required><br>

            <label for="Cena">Cena: </label>
            <input type="number" step="any" name="Cena" id="Cena" required><br>

            <button type="submit" class="outer-button">Unesi</button>
            <button type="button" class="outer-button" onclick="closeWin()">Zatvori</button>
        </form>

                
    <script>
        const { ipcRenderer, remote } = require('electron');
        const { BrowserWindow } = require('@electron/remote');
        const $ = require('jquery');

        $(document).ready(function() {
            $(document).on("submit", "#insertArtikl", function() {
                try {
                    let SifraArtikla = document.getElementById("SifraArtikla").value;
                    let Naziv = document.getElementById("Naziv").value;
                    let JedinicaMere = document.getElementById("JedinicaMere").value;
                    let Cena = document.getElementById("Cena").value;

                    ipcRenderer.send("insert-Artikl", SifraArtikla, Naziv, JedinicaMere, Cena);
                } catch(err) {
                    console.error(err);
                }
            });
        });

        function closeWin() {
            let window = BrowserWindow.getFocusedWindow();
            window.close();
        }
    </script>
    </body>
</html>