<!DOCTYPE html>
<html>
    <head>
        <%- include('partials/head') %>
    </head>
    <body>
        <%- include('partials/navigation') %>
        <table id="listaArtikala"></table>

        <button type="button" onclick="openWin_Artikl()">Dodaj artkl</button>

        <script src="../src/renderer.js"></script>
        <script>
            const { ipcRenderer, dialog } = require('electron');
            const $ = require('jquery');

            ipcRenderer.send("list-Artikl");
            ipcRenderer.on("rows-Artikl", (evt, rows) => {
                createTable(rows, "listaArtikala");
            });

            function openWin_Artikl() {
                ipcRenderer.send("openWin_Artikl");
            }

            $(document).ready(function() {
                $(document).on("click", ".deleteRow", function() {
                    var $row = $(this).closest("tr");
                    var $values = $row.find("td");

                    let ID_Artikla = $values.eq(0).text();
                    ipcRenderer.send("delete-Artikl", ID_Artikla);
                    ipcRenderer.on("deletedRow", () => {
                        $row.remove(); // ovo je potencijalno mesto gde moze da dodje do neke greske, proveri!
                    });
                });

                $(document).on("click", ".editRow", function() {
                    var $row = $(this).closest("tr");
                    var $values = $row.find(".value");
                    var prevHTML = $row.html();

                    let ID_Artikla = $values.eq(0).text();
                    let SifraArtikla = $values.eq(1).text();
                    let Naziv = $values.eq(2).text();
                    let JedinicaMere = $values.eq(3).text();
                    let Cena = $values.eq(4).text();

                    let rowHMTL =  `<td style="display: none;" id="edit_ID_Artikla">${ID_Artikla}</td>
                                    <td>
                                        <input type="number" name="SifraArtikla" id="SifraArtikla" value="${SifraArtikla}" required>
                                    </td>
                                    <td>
                                        <input type="text" name="Naziv" id="Naziv" value="${Naziv}" required>
                                    </td>
                                    <td>
                                        <input type="text" name="JedinicaMere" id="JedinicaMere" value="${JedinicaMere}" required>
                                    </td>
                                    <td>
                                        <input type="number" name="Cena" id="Cena" value="${Cena}" required>
                                    </td>
                                    <td>
                                        <button type="button" id="confirmEdit">Potvrdi</button>
                                    </td>
                                    <td>
                                        <button type="button" id="cancelEdit" onclick="cancelEdit(this, '${ID_Artikla}', '${SifraArtikla}', '${Naziv}', '${JedinicaMere}', '${Cena}')">Ponisti</button>
                                    </td>`;

                    $row.html(rowHMTL);
                });
                
                $(document).on("click", "#confirmEdit", function() {
                    var $row = $(this).closest("tr");

                    let ID_Artikla = $("#edit_ID_Artikla").html();
                    let SifraArtikla = document.getElementById("SifraArtikla").value;
                    let Naziv = document.getElementById("Naziv").value;
                    let JedinicaMere = document.getElementById("JedinicaMere").value;
                    let Cena = document.getElementById("Cena").value;

                    ipcRenderer.send("edit-Artikl", ID_Artikla, SifraArtikla, Naziv, JedinicaMere, Cena);

                    let rowHMTL =  `<td class="value" style="display: none;">${ID_Artikla}</td>
                                    <td class="value">${SifraArtikla}</td>
                                    <td class="value">${Naziv}</td>
                                    <td class="value">${JedinicaMere}</td>
                                    <td class="value">${Cena}</td>
                                    <td><button type="button" class="deleteRow">X</button></td>
                                    <td><button type="button" class="editRow">E</button></td>`;

                    $row.html(rowHMTL);
                });

                // $(document).on("click", "#cancelEdit", function() {
                //     ipcRenderer.send("reload-page");
                });

                function cancelEdit(btn, ID_Artikla, SifraArtikla, Naziv, JedinicaMere, Cena) {
                    let rowHMTL =  `<td class="value" style="display: none;">${ID_Artikla}</td>
                                    <td class="value">${SifraArtikla}</td>
                                    <td class="value">${Naziv}</td>
                                    <td class="value">${JedinicaMere}</td>
                                    <td class="value">${Cena}</td>
                                    <td><button type="button" class="deleteRow">X</button></td>
                                    <td><button type="button" class="editRow">E</button></td>`;

                    $(btn).closest("tr").html(rowHMTL);
                }
        </script>
    </body>
    <footer>
        <%- include('partials/footer') %>
    </footer>
</html>
