<!DOCTYPE html>
<html>
    <head>
        <%- include('partials/head') %>
    </head>
    <body>
        <%- include('partials/navigation') %>
        <table id="listaArtikala"></table>

        <button type="button" onclick="openWin_Artikl()">Dodaj artkl</button>

        <script src="../src/renderer.js"></script>
        <script>
            const { ipcRenderer, dialog } = require('electron');
            const $ = require('jquery');

            ipcRenderer.send("list-Artikl");
            ipcRenderer.on("rows-Artikl", (evt, rows) => {
                createTable(rows, "listaArtikala");
            });

            function openWin_Artikl() {
                ipcRenderer.send("openWin_Artikl");
            }

            function deleteRow() {
                let $row = $(this).closest("tr");
                let $tds = $row.find("td");

                $.each($tds, () => {
                    console.log($(this).text());
                });
            }

            $(document).ready(function() {
                $(".rowMenu").on("click", function() {
                    var $row = $(this).closest("tr");
                    var $tds = $row.find("td");

                    $.each($tds, function() {
                        console.log($(this).text());
                    });
                    
                    let SifraArtikla = $tds.eq(0).text();
                    ipcRenderer.send("delete-Artikl", SifraArtikla);
                    $row.remove(); // ovo je potencijalno mesto gde moze da dodje do neke greske, proveri!
                });
            });
        </script>
    </body>
    <footer>
        <%- include('partials/footer') %>
    </footer>
</html>