<!DOCTYPE html>
<html>
    <head>
        <%- include('partials/head') %>
    </head>
    <body>
        <%- include('partials/navigation') %>
        <table id="listaArtikala"></table>

        <button type="button" onclick="openWin_Artikl()">Dodaj artkl</button>

        <script src="../src/renderer.js"></script>
        <script>
            const { ipcRenderer } = require('electron');

            ipcRenderer.send("list-Artikl");
            ipcRenderer.on("rows-Artikl", (evt, rows) => {
                createTable(rows, "listaArtikala");
            });

            function openWin_Artikl() {
                ipcRenderer.send("openWin_Artikl");
            }

            ipcRenderer.on("reload-list-Artikl", () => {
                location.reload();
            })

        </script>
    </body>
    <footer>
        <%- include('partials/footer') %>
    </footer>
</html>