<!DOCTYPE html>
<html>
    <head>
        <%- include('partials/head') %>
    </head>
    <body>
        <%- include('partials/navigation') %>
    </body>
    <footer>
        <%- include('partials/footer') %>
    </footer>
</html>