<!DOCTYPE html> 
 <html>
    <head>
        <%- include('partials/head') %>
    </head>
    <body>
        <h1>Djora Vet</h1>

        <p>Radnici:</p>

        <button type="button" onclick="list_Artikl()">Svi artikli</button>

        <% if (typeof rows_Artikl !== 'undefined') { %>
            <table>
                <% for (let i = 0; i < rows_Artikl.length; i++) { %> 
                    <tr>
                        <th>${rows_Artikl.Naziv}</th> 
                    </tr>
                <% } %>
            </table>
        <% } %> 

        <a href="klik.ejs">Kliknite ovde</a>

        <script>
            const { ipcRenderer } = require('electron');

            function insert_Artikl() {
                ipcRenderer.send("insert-Artikl");
            }

            function list_Artikl() {
                ipcRenderer.send("list-Artikl");
            }
        </script>
    </body>
    <footer>
        <%- include('partials/footer') %>
    </footer>
</html>