<!DOCTYPE html>
<html>
    <head>
        <%- include('partials/head') %>
    </head>
    <body>
        <h1>Ovde je kliknuto</h1>
        <a href="index.ejs">fuck go back</a>
    </body>
    <footer>
        <%- include('partials/footer') %> 
    </footer>
</html>