<!DOCTYPE html>
<html>
    <head>
        <%- include('partials/head') %>
    </head>
    <body>
        <%- include('partials/navigation') %>
        <table id="listaRadnika"></table>
        <script src="../src/renderer.js"></script>
        <script>
            const { ipcRenderer } = require('electron');
            const $ = require('jquery');

            ipcRenderer.send("list-Radnik");
            ipcRenderer.on("rows-Radnik", (evt, rows) => {
                createTable("listaRadnika", rows);
            });
        </script>
    </body>
    <footer>
        <%- include('partials/footer') %>
    </footer>
</html>