<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="../node_modules/bootstrap-select/dist/css/bootstrap-select.min.css">
        <!-- <script defer>require('popper.js')</script> -->
        <script defer>require('bootstrap')</script>
        <script defer>require('bootstrap-select')</script>
        <%- include('partials/head') %>
    </head>
    <body>
        <header>
            <a class="home-page" href="main.ejs"><img class="img-home-button" src="../img/home-button.png" alt="Pocetna strana"></a>
            <nav>
                <ul class="nav-links">
                    <li><a href="artikli.ejs">Artikl</a></li>
                    <li><a href="radnici.ejs">Radnici</a></li>
                    <li><a href="ulaz.ejs">Ulaz</a></li>
                    <li><a href="skladiste.ejs">Stanje skladista</a></li>
                    <li><a href="zaduzenja.ejs">Zaduzenja</a></li>
                    <li><a class="current" href="razduzenja.ejs">Razduzenja</a></li>
                </ul>
            </nav>
        </header>

        <input id="searchInput" placeholder="Pretrazi po...">
        <select id="searchBy">
            <option value="PrezimeIme">Radniku</option>
            <option value="SifraArtikla">Sifri artikla</option>
            <option value="Naziv" selected>Nazivu</option>
            <option value="JedinicaMere">Jedinici mere</option>
            <option value="Kolicina">Kolicini</option>
            <option value="Datum">Datumu</option>
        </select>

        <table class="content-table" id="listaRazduzenja"></table>

        <div class="pagination">
            <div class="firstPage">Prva</div>
            <div class="prevPage">Prethodna</div>
            <div class="page-num" id="page1"></div>
            <div class="page-num" id="page2"></div>
            <div class="page-num" id="page3"></div>
            <div class="nextPage">Sledeca</div>
            <div class="lastPage">Poslednja</div>
        </div>


        <button type="button" class="outer-button" onclick="openWin_Zaduznje()">Novo razduzenje</button>
        <script src="../src/renderer.js"></script>
        <script>
            const { ipcRenderer } = require('electron');
            const { dialog } = require('@electron/remote');
            const $ = require('jquery');

            let rowsRazduzenje;
            let descPrezimeIme = true, descSifraArtikla = true, descNaziv = true, descJedinicaMere = true, descKolicina = true, descDatum = true;
            let tableContent, currentPage, numberOfPages;
            
            ipcRenderer.send("list-Razduzenje");
            ipcRenderer.once("rows-Razduzenje", (evt, rows) => {
                rowsRazduzenje = rows.slice();
                tableContent = rowsRazduzenje.slice();
                currentPage = 1;
                numberOfPages = Math.ceil(tableContent.length / pageSize);
                createTable("listaRazduzenja", rowsRazduzenje, true, currentPage);
                updatePagination(currentPage, numberOfPages);
            });

            function openWin_Zaduznje() {
                ipcRenderer.send("open-insert-window", 'views/popups/insertRazduzenje.html');
            }

            $(document).ready(function() {
                $(document).on("click", ".deleteRow", throttle(function() {
                    let options = {
                        buttons: ["Da", "Ne"],
                        message: "Da ste sigurni da zelite da obrisete?"
                    };
                    let response = dialog.showMessageBoxSync(options);
                    if (response == 0) {
                        let $row = $(this).closest("tr");
                        let ID_Razduzenja = $row.find("td:first").text();
                        
                        ipcRenderer.send("delete-Razduzenje", ID_Razduzenja);
                        ipcRenderer.once("deletedRow", () => {
                            let rowsIndex = rowsRazduzenje.findIndex((element) => {
                                return element.ID_Razduzenja == ID_Razduzenja;
                            });
                            rowsRazduzenje.splice(rowsIndex, 1);
                            let tableIndex = tableContent.findIndex((element) => {
                                return element.ID_Razduzenja == ID_Razduzenja;
                            });
                            tableContent.splice(tableIndex, 1);

                            numberOfPages = Math.ceil(tableContent.length / pageSize);
                            if (currentPage > numberOfPages) currentPage--;
                            createTable("listaRazduzenja", tableContent, true, currentPage);
                            updatePagination(currentPage, numberOfPages);
                        });
                    }
                }, 500));

                $(document).on("click", ".editRow", function() {
                    let $row = $(this).closest("tr");
                    let values = $row.find("td");
                    let ID_Razduzenja = values.eq(0).text(), PrezimeIme = values.eq(1).text();
                    let SifraArtikla = values.eq(2).text(), Naziv = values.eq(3).text(), JedinicaMere = values.eq(4).text();
                    let Kolicina = values.eq(5).text(), formatDatum = values.eq(6).text();
                    let Datum = formatDatum.substr(6, 4) + '-' + formatDatum.substr(3, 2) + '-' + formatDatum.substr(0, 2);

                    let ID_Radnika, ID_Artikla;
                    ipcRenderer.send("get-ID_Radnika-ID_Artikla", PrezimeIme, SifraArtikla);
                    ipcRenderer.once("ID_Radnika-ID_Artikla", (evt, ID_Radnika, ID_Artikla) => {
                        ipcRenderer.send("req-ZaduzenjePoRadniku", ID_Radnika, ID_Artikla);
                        ipcRenderer.once("res-ZaduzenjePoRadniku", (evt, row) => {
                            let [zaduzenaKolicina] = Object.values(row);
                            // zaduzenaKolicina += parseInt(Kolicina);

                            let rowHTML = `<td class="value" style="display: none;" id="ID_Razduzenja">${ID_Razduzenja}</td>
                                        <td>
                                                <select id="PrezimeIme" class="selectpicker" data-live-search="true" required></select>
                                        </td>
                                        <td>
                                                <select id="SifraArtikla" class="selectpicker" data-live-search="true" data-title="Izaberite artikl" required></select>
                                        </td>
                                        <td>
                                                <input id="Naziv" type="text" placeholder="${Naziv}" readonly>
                                        </td>
                                        <td>
                                                <input id="JedinicaMere" type="text" placeholder="${JedinicaMere}" readonly>
                                        </td>
                                        <td>
                                                <input id="Kolicina" type="number" value="${Kolicina}" max="${zaduzenaKolicina}" placeholder="Zaduzeno je ${zaduzenaKolicina}">
                                        </td>
                                        <td>
                                                <input id="Datum" type="date" value="${Datum}">
                                        </td>
                                        <td class="button-column">
                                                <button type="button" id="confirmEdit" onclick="confirmEdit(this, '${ID_Radnika}', '${ID_Artikla}', '${Kolicina}')">Potvrdi</button>
                                        </td>
                                        <td class="button-column">
                                                <button type="button" id="cancelEdit" onclick="cancelEdit(this, '${ID_Razduzenja}', '${PrezimeIme}', '${SifraArtikla}', '${Naziv}', '${JedinicaMere}', '${Kolicina}', '${formatDatum}')">Ponisti</button>
                                        </td>`;

                            $row.html(rowHTML);
                            
                            ipcRenderer.send("req-zaduzen-Radnik");
                            ipcRenderer.once("res-zaduzen-Radnik", (evt, rows) => {
                                let $select = $row.find("#PrezimeIme");
                                let selected = false;
                                for (let obj of rows) {
                                    let [temp_ID_Radnika, temp_PrezimeIme] = Object.values(obj);
                                    if (temp_PrezimeIme == PrezimeIme) {
                                        $select.append(`<option value="${temp_ID_Radnika}" selected>${temp_PrezimeIme}</option>`)
                                        selected = true;
                                    } else {
                                        $select.append(`<option value="${temp_ID_Radnika}">${temp_PrezimeIme}</option>`)
                                    }
                                }
                                if (!selected) {
                                    $select.append(`<option value="${ID_Radnika}" selected>${PrezimeIme}</option>`)
                                }
                                $select.selectpicker('refresh');
                            });

                            ipcRenderer.send("req-Artikl-zaRadnik", ID_Radnika);
                            ipcRenderer.once("res-Artikl-zaRadnik", (evt, rows) => {
                                let $select = $row.find("#SifraArtikla");
                                let selected = false;
                                for (let obj of rows) {
                                    let [temp_ID_Artikla, temp_SifraArtikla] = Object.values(obj);
                                    if (temp_SifraArtikla == SifraArtikla) {
                                        $select.append(`<option value="${temp_ID_Artikla}" selected>${temp_SifraArtikla}</option>`);
                                        selected = true;
                                    } else {
                                        $select.append(`<option value="${temp_ID_Artikla}">${temp_SifraArtikla}</option>`);
                                    }
                                }
                                if (!selected) {
                                    $select.append(`<option value="${ID_Artikla}" selected>${SifraArtikla}</option>`)
                                }
                                $select.selectpicker('refresh');
                            });
                        });
                    });
                });

                $(document).on("change", "#PrezimeIme", function() {
                    let ID_Radnika = $(this).val(), $row = $(this).closest("tr");
                    let ID_Artikla = $row.find("#SifraArtikla").val();

                    ipcRenderer.send("req-Artikl-zaRadnik", ID_Radnika);
                    ipcRenderer.once("res-Artikl-zaRadnik", (evt, rows) => {
                        let $select = $row.find("#SifraArtikla");
                        let selected = false;
                        $select.empty();
                        for (let obj of rows) {
                            let [temp_ID_Artikla, temp_SifraArtikla] = Object.values(obj);
                            if (temp_ID_Artikla == ID_Artikla) {
                                $select.append(`<option value="${temp_ID_Artikla}" selected>${temp_SifraArtikla}</option>`);
                                selected = true;
                            } else {
                                $select.append(`<option value="${temp_ID_Artikla}">${temp_SifraArtikla}</option>`);
                            }
                        }
                        $select.selectpicker('refresh');

                        if (selected) {
                            ipcRenderer.send("req-ZaduzenjePoRadniku", ID_Radnika, ID_Artikla);
                            ipcRenderer.once("res-ZaduzenjePoRadniku", (evt, row) => {
                                if (row) {
                                    let [Kolicina] = Object.values(row);

                                    $row.find("#Kolicina").attr("max", Kolicina);
                                    $row.find("#Kolicina").attr("placeholder", `Zaduzeno je ${Kolicina}`);
                                }
                            });
                        } else {
                            $row.find("#Naziv").attr("placeholder", 'Naziv');
                            $row.find("#JedinicaMere").attr("placeholder", 'Jedinica mere');
                        }
                    });
                });

                $(document).on("change", "#SifraArtikla", function() {
                    let $row = $(this).closest("tr");
                    let ID_Radnika = $row.find("#PrezimeIme").val(), ID_Artikla = $(this).val(), SifraArtikla = $row.find("#SifraArtikla option:selected").text();

                    ipcRenderer.send("req-Naziv-JedinicaMere", SifraArtikla);
                    ipcRenderer.once("res-Naziv-JedinicaMere", (evt, row) => {
                        let [Naziv, JedinicaMere] = Object.values(row);

                        $row.find("#Naziv").attr("placeholder", Naziv);
                        $row.find("#JedinicaMere").attr("placeholder", JedinicaMere);
                    });

                    ipcRenderer.send("req-ZaduzenjePoRadniku", ID_Radnika, ID_Artikla);
                    ipcRenderer.once("res-ZaduzenjePoRadniku", (evt, row) => {
                        let [Kolicina] = Object.values(row);

                        $("#Kolicina").attr("max", Kolicina);
                        $("#Kolicina").attr("placeholder", `Zaduzeno je ${Kolicina}`);
                    });
                });

                $(document).on("click", ".headerCell", function() {
                    let attribute = $(this).text();
                    let desc;
                    let key = $("#searchInput").val();
                    let searchBy = $("#searchBy").val();
                    switch (attribute) {
                        case "PrezimeIme":
                            desc = descPrezimeIme;
                            descPrezimeIme = !descPrezimeIme;
                            break;
                        case "SifraArtikla":
                            desc = descSifraArtikla; 
                            descSifraArtikla = !descSifraArtikla;
                            break;
                        case "Naziv":
                            desc = descNaziv;
                            descNaziv = !descNaziv;
                            break;
                        case "JedinicaMere":
                            desc = descJedinicaMere;
                            descJedinicaMere = !descJedinicaMere;
                            break;
                        case "Kolicina":
                            desc = descKolicina;
                            descKolicina = !descKolicina;
                            break;
                        case "Datum":
                            desc = descDatum;
                            descDatum = !descDatum;
                            break;
                        default:
                            console.log('Ne poklapa se ime kolone');
                            break;
                    }

                    currentPage = 1;
                    tableContent = filterTable(rowsRazduzenje, attribute, desc, key, searchBy);
                    numberOfPages = Math.ceil(tableContent.length / pageSize);
                    createTable("listaRazduzenja", tableContent, true, currentPage);
                    updatePagination(currentPage, numberOfPages);
                });

                $(document).on("change keyup paste", "#searchInput", debounce(() => {
                    let key = $("#searchInput").val();
                    let searchBy = $("#searchBy").val();

                    currentPage = 1;
                    tableContent = searchTable(rowsRazduzenje, key, searchBy);
                    numberOfPages = Math.ceil(tableContent.length / pageSize);
                    createTable("listaRazduzenja", tableContent, true, currentPage);
                    updatePagination(currentPage, numberOfPages);
                }, 350));

                $(document).on("change", "#searchBy", function() {
                    let key = $("#searchInput").val();
                    let searchBy = $("#searchBy").val();

                    currentPage = 1;
                    tableContent = searchTable(rowsRazduzenje, key, searchBy);
                    numberOfPages = Math.ceil(tableContent.length / pageSize);
                    createTable("listaRazduzenja", tableContent, true, currentPage);
                    updatePagination(currentPage, numberOfPages);
                });

                // pagination
                $(document).on("click", ".page-num", function() {
                    currentPage = parseInt($(this).text());
                    createTable("listaRazduzenja", tableContent, true, currentPage);
                    updatePagination(currentPage, numberOfPages);
                });

                $(document).on("click", ".prevPage", function() {
                    currentPage--;
                    createTable("listaRazduzenja", tableContent, true, currentPage);
                    updatePagination(currentPage, numberOfPages);
                });
                
                $(document).on("click", ".nextPage", function() {
                    currentPage++;
                    createTable("listaRazduzenja", tableContent, true, currentPage);
                    updatePagination(currentPage, numberOfPages);
                });

                $(document).on("click", ".firstPage", function() {
                    currentPage = 1;
                    createTable("listaRazduzenja", tableContent, true, currentPage);
                    updatePagination(currentPage, numberOfPages);
                });

                $(document).on("click", ".lastPage", function() {
                    currentPage = Math.max(numberOfPages, 1);
                    createTable("listaRazduzenja", tableContent, true, currentPage);
                    updatePagination(currentPage, numberOfPages);
                });
            });

            function confirmEdit(btn, prev_ID_Radnika, prev_ID_Artikla, prev_Kolicina) {
                let $row = $(btn).closest("tr");
                let ID_Razduzenja = parseInt($row.find("#ID_Razduzenja").text());
                let ID_Radnika = parseInt($row.find("#PrezimeIme").val()), PrezimeIme = $row.find("#PrezimeIme option:selected").text();
                let ID_Artikla = parseInt($row.find("#SifraArtikla").val()), SifraArtikla = parseInt($row.find("#SifraArtikla option:selected").text());
                let Naziv = $row.find("#Naziv").attr("placeholder"), JedinicaMere = $row.find("#JedinicaMere").attr("placeholder");
                let Kolicina = parseFloat($row.find("#Kolicina").val()), Datum = $row.find("#Datum").val();
                let formatDatum = Datum.substr(8, 2) + '.' + Datum.substr(5, 2) + '.' + Datum.substr(0, 4) + '.';

                ipcRenderer.send("edit-Razduzenje", ID_Razduzenja, prev_ID_Radnika, prev_ID_Artikla, prev_Kolicina, ID_Radnika, ID_Artikla, Kolicina, Datum);
                ipcRenderer.once("edited-Razduzenje", () => {
                    let rowHMTL = `<td class="value" style="display: none;">${ID_Razduzenja}</td>
                                    <td class="value">${PrezimeIme}</td>
                                    <td class="value">${SifraArtikla}</td>
                                    <td class="value">${Naziv}</td>
                                    <td class="value">${JedinicaMere}</td>
                                    <td class="value">${Kolicina}</td>
                                    <td class="value">${formatDatum}</td>
                                    <td class="button-column"><button type="button" class="deleteRow">Izbrisi</button></td>
                                    <td class="button-column"><button type="button" class="editRow">Izmeni</button></td>`;

                    $row.html(rowHMTL);

                    let rowsIndex = rowsRazduzenje.findIndex((element) => {
                        return element.ID_Razduzenja == ID_Razduzenja;
                    });
                    rowsRazduzenje[rowsIndex] = {
                        ID_Razduzenja: ID_Razduzenja,
                        PrezimeIme: PrezimeIme,
                        SifraArtikla: SifraArtikla,
                        Naziv: Naziv,
                        JedinicaMere: JedinicaMere,
                        Kolicina: Kolicina,
                        Datum: Datum
                    };
                    let tableIndex = tableContent.findIndex((element) => {
                        return element.ID_Razduzenja == ID_Razduzenja;
                    });
                    tableContent[tableIndex] = {
                        ID_Razduzenja: ID_Razduzenja,
                        PrezimeIme: PrezimeIme,
                        SifraArtikla: SifraArtikla,
                        Naziv: Naziv,
                        JedinicaMere: JedinicaMere,
                        Kolicina: Kolicina,
                        Datum: Datum
                    };
                });
            }

            function cancelEdit(btn, ID_Razduzenja, PrezimeIme, SifraArtikla, Naziv, JedinicaMere, Kolicina, Datum) {
                let rowHTML = `<td class="value" style="display: none;">${ID_Razduzenja}</td>
                                    <td class="value">${PrezimeIme}</td> 
                                    <td class="value">${SifraArtikla}</td> 
                                    <td class="value">${Naziv}</td> 
                                    <td class="value">${JedinicaMere}</td> 
                                    <td class="value">${Kolicina}</td> 
                                    <td class="value">${Datum}</td> 
                                    <td class="button-column"><button type="button" class="deleteRow">Izbrisi</button></td>
                                    <td class="button-column"><button type="button" class="editRow">Izmeni</button></td>`;

                $(btn).closest("tr").html(rowHTML);
            }
        </script>
    </body>
    <footer>
        <%- include('partials/footer') %>
    </footer>
</html>
