<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="../node_modules/bootstrap-select/dist/css/bootstrap-select.min.css">
        <!-- <script defer>require('popper.js')</script> -->
        <script defer>require('bootstrap')</script>
        <script defer>require('bootstrap-select')</script>
        <%- include('partials/head') %>
    </head>
    <body>
        <header>
            <a class="home-page" href="main.ejs"><img class="img-home-button" src="../img/home-button.png" alt="Pocetna strana"></a>
            <nav>
                <ul class="nav-links">
                    <li><a href="artikli.ejs">Artikl</a></li>
                    <li><a href="radnici.ejs">Radnici</a></li>
                    <li><a href="ulaz.ejs">Ulaz</a></li>
                    <li><a class="current" href="skladiste.ejs">Stanje skladista</a></li>
                    <li><a href="zaduzenja.ejs">Zaduzenja</a></li>
                    <li><a href="razduzenja.ejs">Razduzenja</a></li>
                </ul>
            </nav>
        </header>

        <input id="searchInput" placeholder="Pretrazi po...">
        <select id="searchBy">
            <option value="SifraArtikla">Sifri Artikla</option>
            <option value="Naziv" selected>Nazivu</option>
            <option value="JedinicaMere">Jedinici mere</option>
            <option value="Cena">Ceni</option>
            <option value="UkupnaKolicina">Ukupnoj kolicini</option>
            <option value="Vrednost">Vrednosti</option>
        </select>

        <table class="content-table" id="listaSkladista"></table>

        <div class="pagination">
            <div class="firstPage">Prva</div>
            <div class="prevPage">Prethodna</div>
            <div class="page-num" id="page1"></div>
            <div class="page-num" id="page2"></div>
            <div class="page-num" id="page3"></div>
            <div class="nextPage">Sledeca</div>
            <div class="lastPage">Poslednja</div>
        </div>

        <form id="editForm"></form>

        <script src="../src/renderer.js"></script>
        <script>
            const { ipcRenderer, remote, dialog } = require('electron');
            const $ = require('jquery');

            let rowsSkladiste;
            let descSifraArtikla = true, descNaziv = true, descJedinicaMere = true, descCena = true, descUkupnaKolicina = true, descVrednost = true;
            let tableContent, currentPage, numberOfPages;

            ipcRenderer.send("list-Skladiste");
            ipcRenderer.once("rows-Skladiste", (evt, rows) => {
                rowsSkladiste = rows.slice();
                tableContent = rowsSkladiste.slice();
                currentPage = 1;
                numberOfPages = Math.ceil(tableContent.length / pageSize);
                createTable("listaSkladista", rowsSkladiste, false, currentPage);
                updatePagination(currentPage, numberOfPages);
            });

            $(document).ready(function() {
                $(document).on("click", ".headerCell", function() {
                    var attribute = $(this).text();
                    let desc;
                    let key = $("#searchInput").val();
                    let searchBy = $("#searchBy").val();
                    switch (attribute) {
                        case "SifraArtikla":
                            desc = descSifraArtikla;
                            descSifraArtikla = !descSifraArtikla;
                            break;
                        case "Naziv":
                            desc = descNaziv;
                            descNaziv = !descNaziv;
                            break;
                        case "JedinicaMere":
                            desc = descJedinicaMere;
                            descJedinicaMere = !descJedinicaMere;
                            break;
                        case "Cena":
                            desc = descCena;
                            descCena = !descCena;
                            break;
                        case "UkupnaKolicina":
                            desc = descUkupnaKolicina;
                            descUkupnaKolicina = !descUkupnaKolicina;
                            break;
                        case "Vrednost":
                            desc = descVrednost;
                            descVrednost = !descVrednost;
                            break;
                        default:
                            console.log('Ne poklapa se ime kolone');
                            break;
                    }

                    currentPage = 1;
                    tableContent = filterTable(rowsSkladiste, attribute, desc, key, searchBy);
                    numberOfPages = Math.ceil(tableContent.length / pageSize);
                    createTable("listaSkladista", tableContent, false, currentPage);
                    updatePagination(currentPage, numberOfPages);
                });

                $(document).on("change keyup paste", "#searchInput", debounce(() => {
                    let key = $("#searchInput").val();
                    let searchBy = $("#searchBy").val();

                    currentPage = 1;
                    tableContent = searchTable(rowsSkladiste, key, searchBy);
                    numberOfPages = Math.ceil(tableContent.length / pageSize);
                    createTable("listaSkladista", tableContent, false, currentPage);
                    updatePagination(currentPage, numberOfPages);
                }, 350));

                $(document).on("change", "#searchBy", function() {
                    let key = $("#searchInput").val();
                    let searchBy = $("#searchBy").val();

                    currentPage = 1;
                    tableContent = searchTable(rowsSkladiste, key, searchBy);
                    numberOfPages = Math.ceil(tableContent.length / pageSize);
                    createTable("listaSkladista", tableContent, false, currentPage);
                    updatePagination(currentPage, numberOfPages);
                });

                // pagination
                $(document).on("click", ".page-num", function() {
                    currentPage = parseInt($(this).text());
                    createTable("listaSkladista", tableContent, false, currentPage);
                    updatePagination(currentPage, numberOfPages);
                });

                $(document).on("click", ".prevPage", function() {
                    currentPage--;
                    createTable("listaSkladista", tableContent, false, currentPage);
                    updatePagination(currentPage, numberOfPages);
                });
                
                $(document).on("click", ".nextPage", function() {
                    currentPage++;
                    createTable("listaSkladista", tableContent, false, currentPage);
                    updatePagination(currentPage, numberOfPages);
                });

                $(document).on("click", ".firstPage", function() {
                    currentPage = 1;
                    createTable("listaSkladista", tableContent, false, currentPage);
                    updatePagination(currentPage, numberOfPages);
                });

                $(document).on("click", ".lastPage", function() {
                    currentPage = Math.max(numberOfPages, 1);
                    createTable("listaSkladista", tableContent, false, currentPage);
                    updatePagination(currentPage, numberOfPages);
                });
            });
        </script>
    </body>
    <footer>
        <%- include('partials/footer') %>
    </footer>
</html>
