<!DOCTYPE html>
<html>
    <head>
        <%- include('partials/head') %>
        <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="../node_modules/bootstrap-select/dist/css/bootstrap-select.min.css">
        <script defer>require('popper.js')</script>
        <script defer>require('bootstrap')</script>
        <script defer>require('bootstrap-select')</script>
    </head>
    <body>
        <%- include('partials/navigation') %>

        <input id="searchInput" placeholder="Pretrazi po...">
        <select id="searchBy">
            <option value="SifraArtikla">Sifri Artikla</option>
            <option value="Naziv" selected>Nazivu</option>
            <option value="JedinicaMere">Jedinici mere</option>
            <option value="Kolicina">Kolicini</option>
            <option value="Datum">Datumu</option>
        </select>

        <table id="listaUlaza"></table>

        <button type="button" onclick="openWin_Ulaz()">Unos u skladiste</button>

        <script src="../src/renderer.js"></script>
        <script>
            const { ipcRenderer } = require('electron');
            const $ = require('jquery');

            ipcRenderer.send("list-Ulaz");
            ipcRenderer.on("rows-Ulaz", (evt, rows) => {
                createTable("listaUlaza", rows);
            });

            let descSifraArtikla = true, descNaziv = true, descJedinicaMere = true, descKolicina = true, descDatum = true;

            function openWin_Ulaz() {
                ipcRenderer.send("open-insert-window", 'views/popups/insertUlaz.html');
            }

            $(document).ready(function () {
                $(document).on("click", ".deleteRow", function () {
                    let $row = $(this).closest("tr");
                    let ID_Ulaza = $row.find('td:first').text();
                    ipcRenderer.send("delete-Ulaz", ID_Ulaza);
                    ipcRenderer.on("deletedRow", () => {
                        $row.remove();
                    })
                });

                $(document).on("click", ".editRow", function () {
                    let $row = $(this).closest("tr");
                    let $values = $row.find("td");
                    let ID_Ulaza = $values.eq(0).text();
                    let SifraArtikla = $values.eq(1).text();
                    let Naziv = $values.eq(2).text();
                    let JedinicaMere = $values.eq(3).text();
                    let Kolicina = $values.eq(4).text();
                    let formatDatum = $values.eq(5).text();
                    let Datum = formatDatum.substr(6, 4) + '-' + formatDatum.substr(3, 2) + '-' + formatDatum.substr(0, 2);

                    let rowHTML = `<td class="value" style="display: none;" id="ID_Ulaza">${ID_Ulaza}</td>
                                        <td>
                                            <select id="SifraArtikla" class="selectpicker" data-live-search="true" required></select>
                                        </td>
                                        <td>
                                            <input type="text" id="Naziv" placeholder="${Naziv}" readonly>
                                        </td>
                                        <td>
                                            <input type="text" id="JedinicaMere" placeholder="${JedinicaMere}" readonly>
                                        </td>
                                        <td>
                                            <input type="number" id="Kolicina" value="${Kolicina}">
                                        </td>
                                        <td>
                                            <input type="date" id="Datum" value="${Datum}">
                                        </td>
                                        <td>
                                            <button type="button" id="confirmEdit" onclick="confirmEdit(this, '${Kolicina}')">Potvrdi</button>
                                        </td>
                                        <td>
                                            <button type="button" id="cancelEdit" onclick="cancelEdit(this, '${ID_Ulaza}', '${SifraArtikla}', '${Naziv}', '${JedinicaMere}', '${Kolicina}', '${formatDatum}')">Ponisti</button>
                                        </td>`;

                    $row.html(rowHTML);

                    ipcRenderer.send("req-SifraArtikla");
                    ipcRenderer.on("res-SifraArtikla", (evt, rows) => {
                        let $select = $row.find("#SifraArtikla");
                        $select.empty();
                        for (let obj of rows) {
                            let temp_SifraArtikla = Object.values(obj)[1];
                            if (temp_SifraArtikla == SifraArtikla) {
                                $select.append(`<option value="${temp_SifraArtikla}" selected>${temp_SifraArtikla}</option`);
                            } else {
                                $select.append(`<option value="${temp_SifraArtikla}">${temp_SifraArtikla}</option`);
                            }
                        }
                        $select.selectpicker('refresh');
                    });
                });

                $(document).on("change", "#SifraArtikla", function () {
                    let SifraArtikla = $(this).val();
                    let $row = $(this).closest("tr");

                    ipcRenderer.send("req-Naziv-JedinicaMere", SifraArtikla);
                    ipcRenderer.on("res-Naziv-JedinicaMere", (evt, row) => {
                        let values = Object.values(row);
                        let Naziv = values[0], JedinicaMere = values[1];

                        $row.find("#Naziv").attr("placeholder", Naziv);
                        $row.find("#JedinicaMere").attr("placeholder", JedinicaMere);
                    });
                });

                $(document).on("change keyup paste", "#searchInput", debounce(() => {
                    let key = $("#searchInput").val();
                    let searchBy = $("#searchBy").val();

                    ipcRenderer.send("search-Ulaz", key, searchBy);
                    ipcRenderer.on("search-result-Ulaz", (evt, rows) => {
                        createTable("listaUlaza", rows);
                    });

                }, 350));

                $(document).on("change", "#searchBy", function() {
                    let key = $("#searchInput").val();
                    let searchBy = $("#searchBy").val();

                    ipcRenderer.send("search-Ulaz", key, searchBy);
                    ipcRenderer.on("search-result-Ulaz", (evt, rows) => {
                        createTable("listaUlaza", rows);
                    });
                });

                $(document).on("click", ".headerCell", function() {
                    let attribute = $(this).text();
                    let desc;
                    let key = $("#searchInput").val();
                    let searchBy = $("#searchBy").val();
                    switch (attribute) {
                        case "SifraArtikla":
                            desc = descSifraArtikla; 
                            descSifraArtikla = !descSifraArtikla;
                            break;
                        case "Naziv":
                            desc = descNaziv;
                            descNaziv = !descNaziv;
                            break;
                        case "JedinicaMere":
                            desc = descJedinicaMere;
                            descJedinicaMere = !descJedinicaMere;
                            break;
                        case "Kolicina":
                            desc = descKolicina;
                            descKolicina = !descKolicina;
                            break;
                        case "Datum":
                            desc = descDatum;
                            descDatum = !descDatum;
                            break;
                        default:
                            console.log('Ne poklapa se ime kolone');
                            break;
                    }

                    ipcRenderer.send("sort-Ulaz", attribute, desc, key, searchBy);
                    ipcRenderer.on("sort-rows-Ulaz", (evt, rows) => {
                        createTable("listaUlaza", rows);
                    });
                });
            });

            function confirmEdit(btn, prev_Kolicina) {
                let $row = $(btn).closest("tr");
                let ID_Ulaza = $row.find("#ID_Ulaza").text();
                let SifraArtikla = $row.find("#SifraArtikla").val();
                let Naziv = $row.find("#Naziv").attr("placeholder");
                let JedinicaMere = $row.find("#JedinicaMere").attr("placeholder");
                let Kolicina = $row.find("#Kolicina").val();
                let Datum = $row.find("#Datum").val();
                let date = new Date(Datum);
                let formatDatum = date.getDate() + '.' + (date.getMonth() + 1) + '.' + date.getFullYear() + '.';

                ipcRenderer.send("edit-Ulaz", ID_Ulaza, SifraArtikla, prev_Kolicina, Kolicina, Datum);
                ipcRenderer.on("edited-Ulaz", () => {
                    let rowHMTL = `<td class="value" style="display: none;">${ID_Ulaza}</td>
                                            <td class="value">${SifraArtikla}</td>
                                            <td class="value">${Naziv}</td>
                                            <td class="value">${JedinicaMere}</td>
                                            <td class="value">${Kolicina}</td>
                                            <td class="value">${formatDatum}</td>
                                            <td><button type="button" class="deleteRow">X</button></td>
                                            <td><button type="button" class="editRow">E</button></td>`;

                    $row.html(rowHMTL);
                });
            }

            function cancelEdit(btn, ID_Ulaza, SifraArtikla, Naziv, JedinicaMere, Kolicina, Datum) {
                let rowHTML = `<td class="value" style="display: none;">${ID_Ulaza}</td>
                                    <td class="value">${SifraArtikla}</td> 
                                    <td class="value">${Naziv}</td> 
                                    <td class="value">${JedinicaMere}</td> 
                                    <td class="value">${Kolicina}</td> 
                                    <td class="value">${Datum}</td> 
                                    <td><button type="button" class="deleteRow">X</button></td>
                                    <td><button type="button" class="editRow">E</button></td>`;

                $(btn).closest("tr").html(rowHTML);
            }
        </script>
    </body>
    <footer>
        <%- include('partials/footer') %>
    </footer>
</html>